body {
touch-action: none; 
font-family: "Roboto";
background-color: darkgray;
}


h1 {
margin: 50px;
font-size: 70px;
text-align: center;
}


#paint {
border:3px solid black;
margin: auto;
width: 300px;
height: 300px;
text-align: center;
}


#predicted { 
font-size: 60px;
margin-top: 30px;
text-align: center;
}


#number {
border: 3px solid black;
margin: auto;
margin-top: 20px;
text-align: center;
vertical-align: middle;
width: 200px;
height: 200px;
font-size: 120px;
}


#clear {
margin: auto;
margin-top: 70px;
padding: 30px;
text-align: center;
font-size: 30px;
}
footer{
    text-align: center;
}